.cell-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 275px;
  height: 530px;
  background: var(--blue-color);
  left: 35%;
  top: 20%;
  border-radius: 23% 23% 25% 25%;
  border: 3px solid black;
}
.phone-silver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 245px;
  height: 280px;
  background: #3f3f57;
  border-bottom: 35px solid var(--silver-color);
  border-left: 5px solid var(--silver-color);
  border-right: 5px solid var(--silver-color);
  border-top: 7px solid var(--silver-color);
  border-radius: 25% 25% 40% 40%;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 130px;
  margin: 10px 0;
  background: rgb(97, 115, 89);
  border-radius: 10% 10% 10% 10%;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: black;
}

.points1 {
  margin-top: 5px;
  position: relative;
  width: 7px;
  height: 7px;
  background: var(--grey-color);
  border-radius: 100%;
}
.points1::before {
  position: absolute;
  top: 10px;
  content: "";
  width: 7px;
  height: 7px;
  background: var(--grey-color);
  border-radius: 100%;
}
.points2 {
  margin-top: 13px;
  position: relative;
  width: 7px;
  height: 7px;
  background: var(--grey-color);
  border-radius: 100%;
}
.points2::before {
  position: absolute;
  top: 10px;
  content: "";
  width: 7px;
  height: 7px;
  background: var(--grey-color);
  border-radius: 100%;
}

.logo-name {
  margin-top: 20px;
  color: white;
  font-size: 16px;
}

.message{
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.convert-button,
.green-button {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 25px;
  background: var(--silver-color);
  border-radius: 5% 5% 70% 70%;
  border: 2px solid grey;
  cursor: pointer;
  color: green;
}
.convert-button:active {
  transform: scale(0.9, 0.9);
}
.green-button:active {
  transform: scale(0.9, 0.9);
}
.green-button::before {
  content: "";
  width: 70%;
  height: 5px;
  background: green;
}
.buttons {
  padding: 10px 0px 10px 8px;
  width: 83%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "button1 button2 button3" "button4 button5 button6"
    "button7 button8 button9" "button10 button11 button12";
}

.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  border-radius: 20px 40px 20px 40px;
  background-color: rgb(190, 190, 188);
  cursor: pointer;
}

.button:active {
  transform: scale(0.9, 0.9);
}

.alphabet {
  padding-left: 2px;
  font-size: 11px;
}
.button1 {
  grid-area: button1;
}
.button2 {
  grid-area: button2;
}
.button3 {
  grid-area: button3;
}
.button4 {
  grid-area: button4;
}
.button5 {
  grid-area: button5;
}
.button6 {
  grid-area: button6;
}
.button7 {
  grid-area: button7;
}
.button8 {
  grid-area: button8;
}
.button9 {
  grid-area: button9;
}
.button10 {
  grid-area: button10;
}
.button11 {
  grid-area: button11;
}
.button12 {
  grid-area: button12;
}