.cell-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 440px;
  background: #3f3f57;
  left: 35%;
  top: 20%;
  border-radius: 23% 23% 25% 25%;
}

.phone-silver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 165px;
  height: 200px;
  background: #3f3f57;
  border-bottom: 35px solid rgb(190, 190, 188);
  border-left: 5px solid rgb(190, 190, 188);
  border-right: 5px solid rgb(190, 190, 188);
  border-top: 7px solid rgb(190, 190, 188);
  border-radius: 25% 25% 40% 40%;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 90px;
  background: rgb(97, 115, 89);
  border-radius: 10% 10% 10% 10%;
}

.points1 {
  margin-top: 5px;
  position: relative;
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 100%;
}
.points1::before {
  position: absolute;
  top: 10px;
  content: "";
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 100%;
}

.points2 {
  margin-top: 13px;
  position: relative;
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 100%;
}
.points2::before {
  position: absolute;
  top: 10px;
  content: "";
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 100%;
}

.logo-name {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.green-button {
  width: 120px;
  height: 25px;
  background: rgb(190, 190, 188);
  border-radius: 5% 5% 70% 70%;
  border: 2px solid grey;
}

.buttons {
  padding: 10px 0px 10px 8px;
  width: 80%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "button1 button2 button3" "button4 button5 button6"
    "button7 button8 button9" "button10 button11 button12";
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 80%;
  border-radius: 20px 40px 20px 40px;
  background-color: rgb(190, 190, 188);
}
.button1 {
  grid-area: button1;
}
.button2 {
  grid-area: button2;
}
.button3 {
  grid-area: button3;
}
.button4 {
  grid-area: button4;
}
.button5 {
  grid-area: button5;
}
.button6 {
  grid-area: button6;
}
.button7 {
  grid-area: button7;
}
.button8 {
  grid-area: button8;
}
.button9 {
  grid-area: button9;
}
.button10 {
  grid-area: button10;
}
.button11 {
  grid-area: button11;
}
.button12 {
  grid-area: button12;
}
